<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <title>RandomChat</title>
</head>
<body>
    <div class="container border" >
        <div class="form-container border">
            <div class="header ">RandomChat</div>
            <form class="form" action="" method="POST" >
                <label >Your name</label>
                <input type="text" class="input" id="name" name="name"/>  
                <input id="submit-btn" class="button" type="submit" placeholder="Submit" title="Submit">            
            </form>
        </div>
    </div>
</body>
</html>