<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <meta name="description" content="Random Chat. Best place to talk to strangers. Anonymous, No adds, No tracking">
    <meta property="og:title" content="best anonymous chat site for two - best place to talk to strangers completely anonymously | best chatting app | best chatting apps with strangers | random chat app without login | best chat app to meet singles | best random video chat app">
    <meta property="og:description" content="Anonymous chat free random chat one to one. Talk with strangers anonymously. No login or sign up or download required to start chatting. | No advertisement | without advertisement | without adds | best stranger chat app without login free | chat with strangers | chat with girl | best live chat site">
    <meta property="og:url" content="https://random-p2p-chat.herokuapp.com/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "icon" href = 
    "images/conversation.png" 
            type = "image/x-icon">
    <link rel="stylesheet" href="css/home.css">
    <title>RandomChat :Best Place for Anonymous chat for free</title>
</head>
<body>
    <div class="container border" >
        <div class="form-container border">
            <div class="header ">RandomChat</div>
            <form class="form" action="" method="POST" >
                <label >Your name</label>
                <input type="text" class="input" id="name" name="name"/>  
                <input id="submit-btn" class="button" type="submit" value="Continue...">            
            </form>
        </div>
    </div>
</body>
</html>